/*---------------------- stars --------------------------*/

@keyframes starmove {
    to {
        transform: translateY(0em);
    }
}

@keyframes twinkle {

    0%,
    100% {
        opacity: .8;
    }

    50% {
        opacity: .5;
    }
}

/*---------------------- bg ----------------------------*/

@keyframes fadeout {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/*---------------------- text --------------------------*/

@keyframes start {
    0% {
        opacity: 0;
    }

    20%,
    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes popup {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    30%,
    50%,
    70% {
        opacity: 1;
        transform: scale(1);
        background-image: linear-gradient($blue 25%, $darkred 26%, $blue 75%, $darkred 76%);
    }

    40%,
    60% {
        opacity: 1;
        transform: scale(1);
        background-image: linear-gradient($darkred 25%, $blue 26%, $darkred 75%, $blue 76%);
    }

    80% {
        opacity: 1;
        transform: scale(1);
    }

    90% {
        opacity: .1;
    }

    100% {
        opacity: 0;
        transform: scale(5);
    }
}

@keyframes levelup {
    0% {
        opacity: 0;
    }

    20%,
    40% {
        opacity: 1;
        filter: brightness(3);
    }

    30%,
    50%,
    80% {
        opacity: 1;
        filter: none;
    }

    100% {
        opacity: 0;
    }
}

@keyframes danger {
    0% {
        opacity: 0;
        filter: brightness(3) invert(1);
    }

    20%,
    40% {
        opacity: 1;
        filter: brightness(1) invert(1);
    }

    30%,
    50%,
    80% {
        opacity: 1;
        filter: brightness(3) invert(1);
    }

    100% {
        opacity: 0;
        filter: brightness(3) invert(1);
    }
}

@keyframes theend {
    0% {
        opacity: 0;
    }

    20%,
    100% {
        opacity: 1;
    }
}

/*--------------------- asteroids ------------------------*/

@keyframes floating {
    to {
        transform: translateY(148em) rotate(270deg);
    }
}

/*---------------------- spaceship -------------------------*/

@keyframes rocket {
    0% {
        transform: scaleY(1.1);
    }

    25% {
        transform: scaleY(0.9) rotate(-1deg);
    }

    50% {
        transform: scaleY(.8) rotate(1deg);
    }

    75% {
        transform: scaleY(.9) rotate(-1deg);
    }

    100% {
        transform: scaleY(1.1) rotate(1deg);
    }
}

@keyframes movin {
    0% {
        transform: translateY(14em);
    }

    100% {
        transform: translateY(0em);
    }
}

@keyframes shipmove1 {
    0% {
        transform: translate(0);
    }

    18% {
        transform: translate(-6em, -3em);
    }

    45% {
        transform: translate(4em, -6em);
    }

    65% {
        transform: translate(-5em, -8em);
    }

    80% {
        transform: translate(-5em, -10em);
    }

    100% {
        transform: translate(0em, 0em);
    }
}

@keyframes shipmove2 {
    0% {
        transform: translate(0);
    }

    10%,
    15% {
        transform: translate(-2em, -2em);
    }

    35% {
        transform: translate(11em, 0em);
    }

    55% {
        transform: translate(-3em, -2em);
    }

    80% {
        transform: translate(6em, -7em);
    }

    100% {
        transform: translate(0em, 0em);
    }
}

@keyframes upgrade {
    0% {
        transform: translate(0em, -90em);
    }

    85% {
        transform: translate(0em, 0em) rotate(2turn);
        box-shadow: none;
    }

    87% {
        transform: translate(0em, 0em) scale(1.5);
        box-shadow: 0 0 3em 1em rgba($blue, 0.7);
        filter: brightness(2);
    }

    100% {
        transform: translate(0em, 0em) scale(1.2);
        box-shadow: 0 0 3em 1em rgba($blue, 0.7);
        filter: brightness(2);
    }
}

@keyframes battle {
    0% {
        transform: none;
    }

    7%,
    8% {
        transform: translate(11em, -2em);
    }

    14% {
        transform: translate(6em, -8em);
    }

    32%,
    35% {
        transform: translate(0em, -8em);
    }

    50% {
        transform: translate(7em, -8em);
    }

    65% {
        transform: translate(-3em, -8em);
    }

    80% {
        transform: translate(0em, -8em);
    }

    90% {
        transform: translate(0em, -15em);
    }

    100% {
        transform: translate(0em, -15em);
    }
}

@keyframes moveout {
    0% {
        transform: translate(0em, -15em);
    }

    100% {
        transform: translate(0em, -80em);
    }
}

/*--------------------- shooting -----------------------*/

@keyframes shooting {
    from {
        opacity: 1;
    }

    to {
        transform: translateY(-40em);
        opacity: 1;
    }
}

@keyframes shooting2 {
    from {
        opacity: 1;
    }

    to {
        transform: translateY(65em);
        opacity: 1;
    }
}

/*--------------------- boss -----------------------*/

@keyframes appear {
    to {
        transform: translateY(3em);
    }
}

@keyframes idle {
    0% {
        transform: translate(0em, 3em);
    }

    25% {
        transform: translate(-5em, 2em);
    }

    50% {
        transform: translate(0em, 3em);
    }

    75% {
        transform: translate(5em, 2em);
    }

    100% {
        transform: translate(0em, 3em);
    }
}

@keyframes poof1 {
    0% {
        opacity: 0;
        transform: scale(0) translateX(4em);
    }

    40% {
        opacity: 1;
        transform: scale(1) translateX(4em);
    }

    100% {
        opacity: 0;
        transform: scale(1.5) translateX(4em);
    }
}

@keyframes poof2 {
    0% {
        opacity: 0;
        transform: scale(0) translateX(-4em);
    }

    40% {
        opacity: 1;
        transform: scale(1) translateX(-4em);
    }

    100% {
        opacity: 0;
        transform: scale(1.5) translateX(-4em);
    }
}

@keyframes poof3 {
    0% {
        opacity: 0;
        transform: scale(0) translate(-2em, -2em);
    }

    10% {
        opacity: 1;
        transform: scale(1) translate(-2em, -2em);
    }

    30% {
        opacity: 0;
        transform: scale(1.5) translate(-2em, -2em);
    }

    31% {
        opacity: 0;
        transform: scale(0) translate(2em, -2em);
    }

    40% {
        opacity: 1;
        transform: scale(1) translate(2em, -2em);
    }

    60% {
        opacity: 0;
        transform: scale(1.3) translate(2em, -2em);
    }

    61% {
        opacity: 0;
        transform: scale(0) translate(0em, 0em);
    }

    70% {
        opacity: 1;
        transform: scale(2.5) translate(0em, 0em);
    }

    100% {
        opacity: 0;
        transform: scale(3.5) translate(0em, 0em);
    }
}

@keyframes damage {
    0% {
        transform: none;
    }

    20% {
        transform: scale(1);
    }

    25% {
        transform: scale(2);
    }

    30% {
        transform: scale(1);
    }

    100% {
        transform: scale(0) rotate(2turn);
        opacity: 0;
    }
}

@keyframes exploding {
    0% {
        transform: none;
    }

    3%,
    9%,
    15%,
    21%,
    27%,
    33%,
    39%,
    45%,
    51% {
        transform: rotate(-1deg);
    }

    6%,
    12%,
    18%,
    24%,
    30%,
    36%,
    42%,
    48% {
        transform: rotate(1deg);
    }

    80% {
        opacity: 1;
        transform: rotate(0deg);
    }

    100% {
        opacity: 0;
        transform: scale(0);
    }

}